# System
AppData/
NTUSER.*
desktop.ini

# OneDrive / Windows junk
Documents/
Downloads/
Music/
Pictures/
Videos/

# Dev tools
.vscode/
.idea/
.ipynb_checkpoints/
node_modules/

# Conda / Python
.anaconda/
.conda/
.miniconda3/
